/*universal*/

body{
  background:#fff;
  }

.inner{
  background:#f9f9f9;
  padding-bottom:60px;
  }

.two_bulls{
  padding:80px 0;
  text-align:center;
}


.section_footer{
  text-align:center;
  padding-top:60px;
  }

/*type*/

h1{
  font-family: 'Roboto Slab', serif;
  line-height:1.5em;
  font-size:34px;
  }

h1.title{
  color:#2fc67b;
}

h2.title{
  padding-bottom:50px;
}

h1.title:after{
  content:"–";
  padding-left:20px;
}

h1.title:before{
  content:"–";
  padding-right:20px;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
  font-size:24px;
  padding-bottom:10px;
  }

p{
  font-family: 'Lato', sans-serif;
  font-size:17px;
  line-height:2em;
  font-weight:100;
  color:#777;
  }

a{
  color:#58c1e6;
}

a:hover{
  color:#41a1c4;
}



.copyright p{
  color:#999;
  padding-top:50px;
  text-align:center;
  font-size:12px;
  }

.help-block{
  color:#fff;
  font-weight:bold;
  font-size:12px;
  letter-spacing:1px;
  text-transform:uppercase;
  }

.separator{
  display:block;
  margin:0 auto;
  width:125px;
  height:4px;
  border-radius:2px;
  background-color:#2fc67b;
}

.line{
  display:block;
  height:1px;
  width:100%;
  background:#d6d8d8;
  margin-bottom:-43px;
}

hr{
  border-color:#d1d1d1;
}


/*layout*/
.hero{
  background: url('../images/hero/backer.jpg') fixed no-repeat;
  background-size:cover;
  padding: 120px 0 240px 0;
  text-align:center;
  color:#fff;
  min-height:785px;
  }

.hero h1{padding-bottom:10px;}

.hero img.logo{
  text-align:center;
  padding-bottom:60px;
  }

.container_white{
  background:#fff;
  margin-top:-120px;
  text-align:center;
  padding: 50px 0 80px 0;
  box-shadow: 0px 3px 8px #ccc;
}

.full_bleed{
  margin-bottom: 60px;
  }

.sidebyside{
  padding:60px 0;
  }

.sidebyside p{
  padding:0 30px;
  }

a.next{
  margin:0 auto;
  text-align:center;
  display:block;
  margin-bottom:35px;
}


/* input */

/*input placeholder*/
::-webkit-input-placeholder {
  font-weight:200;
  font-size: 20px;
  }
:-moz-placeholder {
  font-weight:200;
  font-size: 20px;
  }
::-moz-placeholder {
  font-weight:200;
  font-size: 20px;
  }
:-ms-input-placeholder {
  font-weight:200;
  font-size: 20px;
  }

.hero input{
  padding-top:12px;
  font-size:20px;
  font-weight:200;
  color:#58c1e6;
  }

/*input submit*/
input[type=submit] {
  background: url('../images/body/send.png') #29c478 no-repeat center center;
  background-size:20px 20px;
  display: block;
  padding:6px 35px 6px 25px;
}


/*sticky input plugin*/
.sticky_logo{
  display:none;
  padding:0 0 10px;
  }

.isStuck{
  left:0;
  z-index: 1000;
  border-bottom:1px solid #ddd;
  padding:10px;
  transition: all 0.3s ease;
  background: #fff;
  position:relative;
}

.isStuck .sticky_logo{
  display:block;
  position:absolute;
  top:10px;
  left:-60px;
  z-index:900;
}

.hideme{opacity:0;}

@media(max-width:767px){
  h1{font-size:28px;}
  h2{font-size:22px;}
  .container_white{padding:20px;}
  .hero{background-position:20% 20%;}
  .hero img.logo{padding-bottom:30px;}
}

@media(min-width:768px){
}

@media(min-width:992px){
}

@media(min-width:1200px){
}
